* {
    box-sizing: border-box;
}

.wrapper {
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main sidebar"
    "footer footer footer";
    grid-row-gap: 15px;
    grid-column-gap: 20px;
    background-color: azure;
    justify-content: center;
    padding-left: 20%;
    padding-right:20%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.mainheader {
    grid-area: header;
    background-color: darkblue
}

.nav {
    grid-area: nav;
    background-color: burlywood
}

.main{
    grid-area: main;
    background-color: black;
}


.sidebar {
   grid-area: sidebar;
    background-color: dimgray
}

.footer{
    grid-area: footer;
    text-align: center;
    background-color: black;
    color: white;
}

article {
    padding: 5px;
    color: white;
}
